*.class
CMatricesAs400Services/CMatricesAs400Services-ear/target/
CMatricesAs400Services/CMatricesAs400Services-ejb/target/
CMatricesAs400Services/CMatricesAs400Services-war/target/
InterfaceAgendamiento/target/
InterfaceWsCMAs400/target/
MGL/LoginClient/target/
MGL/ProxyRR/target/
MGL/catastro/catastro-ear/target/
MGL/catastro/catastro-ejb/target/
MGL/catastro/catastro-war/target/
ManejoExcepcionesMGL/target/
/jlcgsql/target/

*nb-configuration.xml
libs/telmex-util.jar
.idea
*.iml
/MGL/ServiceClientMGL/target/
/MGL/catastro/target/
