<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <context-param>

        <param-name>log4jConfiguration</param-name>
        <param-value>/applications/config/EAF/CO_Claro_IntCusOper_EAF_Domain_PR/MER_WEB/log4j2.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>

    <!-- Configuraciones de JSF -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/app-tags.taglib.xml</param-value>
    </context-param>
    <context-param>

        <param-name>org.richfaces.fileUpload.maxRequestSize</param-name>
        <param-value>1000000</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.resourceMapping.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>

    </context-param>
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>blueSky</param-value>
    </context-param>
    <context-param>

        <param-name>DirectoryFilesLoadBatch</param-name>
        <param-value>F://Files//SavedFiles</param-value>
    </context-param>
    <context-param>
        <param-name>DirectoryFilesReportBatch</param-name>
        <param-value>F://Files//ReportFiles</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>native</param-value>
    </context-param>



    
    <filter>
        <filter-name>InitializedFilter</filter-name>
        <filter-class>co.com.telmex.catastro.util.InitializedFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>



    <servlet>
        <servlet-name>UploadArchivo</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.direcciones.UploadArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Catalogodetalle</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogDetailSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogQuerySrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogQuerySrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogDataSrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogDataSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogRelationSrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogRelationSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogQueryRelationSrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogQueryRelationSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuSrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.MenuSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogReportSrv</servlet-name>
        <servlet-class>co.com.telmex.catastro.mbeans.comun.CatalogReportSrv</servlet-class>
    </servlet>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/view/error/expired.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/view/error/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/error/404.xhtml</location>
    </error-page>    
    <servlet-mapping>
        <servlet-name>Catalogodetalle</servlet-name>
        <url-pattern>/Catalogodetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogQuerySrv</servlet-name>
        <url-pattern>/CatalogQuerySrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogDataSrv</servlet-name>
        <url-pattern>/CatalogDataSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogRelationSrv</servlet-name>
        <url-pattern>/CatalogRelationSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogQueryRelationSrv</servlet-name>
        <url-pattern>/CatalogQueryRelationSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogReportSrv</servlet-name>
        <url-pattern>/CatalogReportSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuSrv</servlet-name>
        <url-pattern>/MenuSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadArchivo</servlet-name>
        <url-pattern>UploadArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>view/seguridad/login.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>co.com.claro.mgl.mbeans.vt.migracion.login.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>co.com.claro.mgl.mbeans.vt.migracion.login.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
</web-app>
